package main

import (
	"log"
	"net/http"

	"{{.ModuleName}}/handler"
)

func main() {
	http.HandleFunc("/user", handlers.UserHandler)

	log.Println("🚀 Server started on http://localhost:8080")
	if err := http.ListenAndServe("{{.PortName}}", nil); err != nil {
		log.Fatal(err)
	}
}
